@import 'https://fonts.googleapis.com/css2?family=Spartan:wght@200;400;600&display=swap';
@import 'https://www.gstatic.com/firebasejs/ui/4.7.0/firebase-ui-auth.css';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
body,
html {
	font-family: 'Nunito Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}

h2 {
	text-transform: uppercase;
	margin: 0 0 20px 0;
	font-weight: 800;
	font-size: 36px;
	color: #333;
}

h3 {
	font-size: 20px;
	font-weight: 600;
	color: #333;
}

h4 {
	font-size: 18px;
	color: #333;
	font-weight: 600;
}

h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}

p {
	font-size: 15px;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.section {
	position: relative;
}

#features {
	padding: 16px 0;
	background: #eaebec;
}

.section-title h2 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

h2 {
	text-transform: uppercase;
	margin: 0 0 20px 0;
	font-weight: 800;
	font-size: 36px;
	color: #333;
}

.section-title h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	margin-left: -30px;
	left: 50%;
}

.caption h3 {
	font-size: 18px;
	margin: 20px 0;
}

#service {
	padding: 16px 0;
	background-color: #fff;
}

.footer__copyright__text {
	border-top: 1px solid #e1e1e1;
	padding: 18px 0 25px;
	text-align: center;
	margin-top: 35px;
}

.authentication-wrapper {
	display: flex;
	flex-basis: 100%;
	min-height: 100vh;
	width: 100%
}

.authentication-wrapper .authentication-inner {
	width: 100%
}

.authentication-wrapper.authentication-basic {
	align-items: center;
	justify-content: center;
	overflow: hidden
}

.authentication-wrapper.authentication-cover {
	align-items: flex-start
}

.authentication-wrapper.authentication-cover .authentication-inner {
	height: 75vh
}

.authentication-wrapper.authentication-basic .authentication-inner {
	max-width: 400px;
	position: relative
}

.c-icon {
    vertical-align: middle;
    line-height: 1;
    position: relative;
    display: inline-block;
    pointer-events: none;
    height: 1em;
}

.c-body--fixed {
    overflow: hidden;
}

.c-logo {
    max-width: 100%;
    max-height: 64px;
    width: auto;
}

.c-shareIcon {
    display: inline-block;
    width: 48px;
}

.c-shareIcon+.c-shareIcon {
    margin-left: 0.25em;
}

.c-shareIcon img {
    width: 100%;
}

.visuallyHidden {
    position: absolute;
    top: -10000px;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.loading-message::after {
    content: attr(title);
    font-size: 24px;
    display: block;
    color: #fff;
}

.mdl-button .material-icons {
    margin-top: -2px;
}

/*
body > canvas,
body > video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: #000;
}
*/

/*
.paper,
.firebaseui-page-provider-sign-in {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

[aria-selected="true"][class*="tabview__Tab"] {
  border-color: #51467d;
}

a[class*="link__Link"] {
  color: #51467d;
}

button[class*="button__PlainButton"] {
  color: #51467d;
}

button[class*="button__PlainButton"]:hover {
  background-color: rgba(81, 70, 125, 0.15);
}

button[class*="button__PrimaryButton"] {
  border-color: #51467d;
  background-color: #51467d;
}
*/

.c-accountDetails {
    display: flex;
    background: #f9f9f9;
    padding: 24px;
    align-items: center;
    justify-content: space-between;
}

.c-accountDetails__name strong {
    font-weight: 500;
}

.c-content {
    max-width: 60%;
}

.c-content img {
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.c-content p {
    line-height: 1.25em;
}

.c-content p+p {
    margin-top: 1em;
}

.c-content--center {
    margin: 0 auto;
}

.c-content--left {
    text-align: left;
}

.c-content--padding {
    padding: 24px;
}

.c-content--textCenter {
    text-align: center;
}

/* intl */

.c-content__title {
    margin-bottom: 1em;
}

.c-content__box {
    margin: 48px auto;
    width: 600px;
    background: #fff;
    padding: 48px;
    border-radius: 12px;
}

.c-content__box .logo {
    display: block;
    margin: 0 auto 48px;
}

.c-content__separator::before {
    content: '\2022';
    display: inline-block;
    margin: 0 1em;
}

.c-content__footer {
    text-align: center;
    user-select: none;
    text-transform: uppercase;
}

.c-content__footer--modal {
    margin-top: 48px;
}

.c-content__footer>* {
    user-select: none;
    text-decoration: none;
}

.c-content--format {
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 40px;
}

.c-content--format ul+*,
.c-content--format ol+* {
    margin-top: 1em;
}

.c-content--format a,
.format-links a {
    font-weight: 700
}

.c-content--format abbr {
    border-bottom: 1px dotted;
    cursor: help
}

.c-content--format cite {
    font-style: italic
}

.c-content--format hr {
    margin-bottom: 1.4em;
    margin-top: 1.4em;
    border-top: 0;
    border-bottom-width: 1px;
    border-bottom-color: #eee
}

.c-content--format img {
    vertical-align: text-bottom;
    max-width: 100%
}

.c-content--format ins {
    text-decoration: none
}

.c-content--format small {
    font-size: .8em
}

.c-content--format strong {
    font-weight: 700
}

.c-content--format sub,
.c-content--format sup {
    font-size: .8em
}

.c-content--format sub {
    vertical-align: sub
}

.c-content--format sup {
    vertical-align: super
}

.c-content--format p,
.c-content--format dl,
.c-content--format ol,
.c-content--format ul,
.c-content--format blockquote,
.c-content--format pre,
.c-content--format table {
    margin-bottom: 1.4em
}

.c-content--format p:last-child,
.c-content--format dl:last-child,
.c-content--format ol:last-child,
.c-content--format ul:last-child,
.c-content--format blockquote:last-child,
.c-content--format pre:last-child,
.c-content--format table:last-child {
    margin-bottom: 0
}

.c-content--format p:empty {
    display: none
}

.c-content--format h1:not(.container-full):first-child,
.c-content--format h2:first-child,
.c-content--format h3:first-child,
.c-content--format h4:first-child,
.c-content--format h5:first-child,
.c-content--format h6:first-child {
    margin-top: 0
}

.c-content--format h1:not(.container-full) {
    margin-bottom: .58333em;
    margin-top: .58333em;
    line-height: 1
}

.c-content--format h1+h2 {
    margin-top: 1em
}

.c-content--format h2 {
    margin-bottom: .875em;
    margin-top: 1.75em;
    line-height: 1.4;
    font-size: 24px !important
}

.c-content--format h3 {
    margin-bottom: 1.07692em;
    margin-top: 1.07692em;
    font-size: 18px !important
}

.c-content--format h4 {
    margin-bottom: 1.16667em;
    margin-top: 1.16667em;
    font-size: 16px !important
}

.c-content--format h5 {
    margin-bottom: 1.27273em;
    margin-top: 1.27273em;
    font-size: 14px !important
}

.c-content--format h6 {
    font-size: 1em;
    margin-bottom: 1.4em;
    margin-top: 1.4em
}

.c-content--format h1,
.c-content--format h2,
.c-content--format h3,
.c-content--format h4,
.c-content--format h5,
.c-content--format h6 {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    text-transform: uppercase
}

.c-content--format dd {
    margin-left: 1.4em
}

.c-content--format ol,
.c-content--format ul {
    list-style-position: outside;
    margin-left: 1.4em
}

.c-content--format ol {
    list-style-type: decimal
}

.c-content--format ol ol {
    list-style-type: lower-alpha
}

.c-content--format ol ol ol {
    list-style-type: lower-roman
}

.c-content--format ol ol ol ol {
    list-style-type: lower-greek
}

.c-content--format ol ol ol ol ol {
    list-style-type: decimal
}

.c-content--format ol ol ol ol ol ol {
    list-style-type: lower-alpha
}

.c-content--format ul {
    list-style-type: disc
}

.c-content--format ul ul {
    list-style-type: circle
}

.c-content--format ul ul ul {
    list-style-type: square
}

.c-content--format ul ul ul ul {
    list-style-type: circle
}

.c-content--format ul ul ul ul ul {
    list-style-type: disc
}

.c-content--format ul ul ul ul ul ul {
    list-style-type: circle
}

.c-content--format blockquote {
    padding: 1em 1.2em 1.2em;
    border-left: 5px solid rgba(0, 0, 0, .1);
    background: rgba(0, 0, 0, .05)
}

.c-content--format blockquote p {
    margin-bottom: 0
}

.c-content--format code,
.c-content--format kbd,
.c-content--format samp,
.c-content--format pre {
    font-size: .9em;
    font-family: monospace
}

.c-content--format code,
.c-content--format kbd,
.c-content--format samp {
    border-radius: 2px;
    line-height: 1.77778;
    padding: .1em .4em .2em;
    vertical-align: baseline;
    background: rgba(0, 0, 0, .1)
}

.c-content--format pre {
    overflow: auto;
    padding: 1em 1.2em;
    background: rgba(0, 0, 0, .1);
    max-width: 530px
}

.c-content--format pre code {
    padding: 0;
    background: 0 0;
    font-size: 1em;
    line-height: 1em
}

.c-content--format figure {
    margin-bottom: 2.8em;
    text-align: center
}

.c-content--format figure:first-child {
    margin-top: 0
}

.c-content--format figure:last-child {
    margin-bottom: 0
}

.c-content--format figcaption {
    font-size: .8em;
    margin-top: .875em
}

.c-content--format table {
    width: 100%
}

.c-content--format table pre {
    white-space: pre-wrap
}

.c-content--format th,
.c-content--format td {
    font-size: 1em;
    padding: .7em;
    line-height: 1.4
}

.c-content--format thead th,
.c-content--format thead td,
.c-content--format tfoot th,
.c-content--format tfoot td {
    font-size: .9em;
    padding: .77778em
}

.c-button--big,
.c-button--cta {
    width: auto;
    font-size: 18px;
    height: 48px;
    min-width: 200px;
    border-radius: 2em;
    white-space: nowrap;
    padding-left: 1em;
    padding-right: 1em;
}

.c-button--cta {
    margin: 2em auto 0;
}

.c-button--spacer {
    margin: 1em 0 0.75em;
}

.c-button--auto {
    width: auto;
    max-width: 200px;
    margin: 0 auto;
}

.c-button--modal {
    margin: 48px auto;
}

.c-header {
    height: 66px;
    background: #222;
    display: flex;
    padding: 0 16px;
    width: 100%;
    align-items: center;
}

.c-header::after {
    content: '';
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    height: 10px;
    z-index: 10;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.c-header a,
.c-header a:focus,
.c-header a:visited {
    text-decoration: none;
    color: inherit;
}

.c-header .c-icon {
    fill: currentColor;
}

.c-header__logo {
    font-size: 24px;
    height: 1em;
    line-height: 1;
    color: #fff;
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
}

.c-header__logo--beta {
    color: #fff;
    opacity: 0.5;
    font-size: 12px;
    margin-left: 1em;
    position: relative;
    top: 0.125em;
}

.c-header__logoLink {
    outline: none !important;
}

.c-header__logoLink:hover .c-header__logoTextSlide {
    max-width: 5em;
}

.c-header__logoLink .c-header__logoTextSlide {
    display: inline-block;
    max-width: 0;
    white-space: nowrap;
    vertical-align: top;
    transition: max-width 215ms cubic-bezier(0.4, 0.0, 0.6, 1);
    overflow: hidden;
    height: 1.5em;
    outline: none !important;
}

.c-header__logoLink * {
    vertical-align: top;
    line-height: 1;
}

.c-header__actions {
    background: #222;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 300px;
}

.c-header__actionsButton {
    border: 0;
    background: none;
    color: #eee;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    width: 90px;
    line-height: 1;
    cursor: pointer;
}

.c-header__actionsButton .c-icon {
    font-size: 24px;
    margin-bottom: 6px;
}

.c-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    display: none;
    align-items: center;
    justify-content: center;
}

.c-modal::before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.c-modal.active {
    display: flex;
}

.c-modal--center {
    text-align: center;
}

.c-modal__close {
    position: absolute;
    right: 24px;
    top: 18px;
    font-weight: 300;
    z-index: 11;
}

.c-modal__subtitle {
    margin: 24px 0 48px;
    font-size: 18px;
    line-height: 1.5;
}

.c-modal .firebaseui-container {
    max-width: none;
    box-shadow: none;
    background: none;
}

.c-modal__window {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border-radius: 12px;
}

.c-modal__window--large {
    max-width: 800px;
}

.c-modal__window--extralarge {
    max-width: 900px;
}

.c-modal__window--managed {
    padding: 0;
}

.c-modal__window--full {
    width: calc(100% - 48px);
    padding: 0;
    height: calc(100% - 48px);
    background: #111;
    color: #fff;
    max-width: none;
}

.c-modal__window--full .c-modal__content {
    width: 100%;
    height: 100%;
}

.c-modal__window--full .c-modal__content iframe {
    width: 100%;
    height: 100%;
}

.c-modal__window--full .firebaseui-card-header {
    padding: 24px;
}

.c-modal__window--full .firebaseui-card-header .firebaseui-title {
    color: #fff;
}

.c-modal .firebaseui-page-provider-sign-in {
    max-width: 400px;
    padding: 40px;
}

.c-modal__header {
    text-align: left;
}

.c-modal__loading {
    text-align: center;
    margin-bottom: 48px;
    font-weight: 500;
    padding: 48px 0;
}

.c-modal__loadingImage {
    filter: invert(100%);
    opacity: 0.25;
    display: block;
    margin: 0 auto;
    height: 128px;
}

.c-modal__message {
    padding: 48px 0;
    text-align: center;
}

.c-features {
    line-height: 1.5;
    font-size: calc(1 * 16px);
    box-sizing: border-box;
    font-weight: normal;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    text-align: left;
    margin-top: 24px;
    margin-left: -1em;
    margin-right: -1em;
}

.c-features li {
    padding: 1em;
}

.c-features li>div {
    display: flex;
}

.c-features li>div>div:first-child {
    flex-shrink: 0;
}

.c-features li>div>div:first-child>div {
    line-height: 1.5;
    font-size: calc(1 * 16px);
    list-style: none;
    font-weight: inherit;
    box-sizing: border-box;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    background-color: #BC82B5;
    color: #fff;
}

.c-features li>div>div:first-child>div svg {
    width: 1.5rem;
    height: 1.5rem;
}

.c-features li>div>div:first-child>div svg path {
    fill: currentColor;
}

.c-features li>div>div:last-child {
    margin-left: 1rem;
}

.c-features li>div>div:last-child h4 {
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.c-features li>div>div:last-child p {
    list-style: none;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    color: #666;
}

.c-storyList {
    padding: 0 12px 12px;
    overflow: auto;
    max-height: 360px;
    margin-top: 12px;
}

.c-storyList--visible {
    max-height: none;
}

.c-storyList__item {
    display: inline-block;
    max-width: calc(20% - 24px);
    margin: 12px;
    text-decoration: none;
    vertical-align: top;
    width: 100%;
    background: none;
    border: 0;
    cursor: pointer;
}

.c-storyList__item--big {
    max-width: calc(33% - 24px);
}

.c-storyList__itemPreview {
    width: 100%;
    padding-bottom: 160%;
    display: flex;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.c-storyList__itemPreview>img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-storyList__itemPreview>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
}

.c-storyList__itemTitle {
    color: #333;
    margin-top: 12px;
    display: block;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
}

html.s-isPreloading .s-hidePreloading {
    position: absolute;
    left: -100vh;
    top: -100vh;
}

html.s-isAuthenticated .s-showAuthenticated {
    position: static;
}

html.s-isAuthenticated .s-showUnauthenticated {
    position: absolute;
    left: -100vh;
    top: -100vh;
}

html.s-isUnauthenticated .s-showAuthenticated {
    position: absolute;
    left: -100vh;
    top: -100vh;
}

html.s-isUnauthenticated .s-showUnauthenticated {
    position: static;
}

.mdl-button.mdl-button--colored,
.mdl-button.mdl-button--colored:hover,
.mdl-button.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored {
    background-color: #7868ba !important;
}

.mdl-button--primary,
.firebaseui-link,
.mdl-button--primary.mdl-button--primary {
    color: #7868ba;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
    background-color: #7868ba;
}

.c-header__actionsButton--primary {
    background-color: #7868ba;
}

.c-content--format a,
.c-content__footer a {
    color: #7868ba;
}

#edit-story,
#edit-story .loading-message {
    position: absolute;
    left: 0;
    right: 0;
    top: 66px;
    flex: 1;
    height: calc(100% - 66px);
}

#edit-story .loading-message {
    top: 0;
    height: 100%;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#edit-story .loading-message h2 {
    font-size: 24px;
    margin-top: 12px;
    color: #fff;
}

#edit-story [class*="headerLayout__Background"] {
    position: fixed;
    left: calc(360px - 16px);
    right: 0;
    top: 0;
    height: 66px;
    background: none !important;
}

#edit-story [class*="headerLayout__Background"] [class*="title__Input"] {
    font-size: 18px;
    width: 100%;
    padding: 18px 2px;
    outline: 0 !important;
}

#edit-story [class*="headerLayout__Background"] [class*="title__Input"]::placeholder {
    color: #eee;
}

#edit-story [class*="carousel__EditorVersion"] {
    display: none;
}

#preview-frame,
#preview-frame iframe {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#edit-story [class*="snackbarContainer__Container"] {
    left: 24px;
    height: auto;
    top: auto;
    margin-bottom: 24px;
}

#edit-story [class*="media__Container"] [class*="dropDownMenu__MoreButton"],
#edit-story [class*="mediaElement__InnerContainer"] [class*="dropDownMenu__MoreButton"] {
    display: none !important;
}

#edit-story [class*="pagepreview__PreviewWrapper"] {
    border-radius: 0 !important;
}

@media (max-width: 1024px) {
    #edit-story {
        display: none;
    }
    .c-header {
        display: none;
    }
    #modal__welcome {
        display: flex;
    }
}

@media (max-width: 850px) {
    .c-body--fixed {
        overflow: auto !important;
        background: #fff;
    }
    #modal__welcome {
        display: block;
        background: #fff;
        position: absolute;
        height: auto;
        bottom: auto;
    }
    .c-modal__window {
        max-width: 100%;
        border-radius: 0;
        box-shadow: none;
        display: block;
    }
    #modal__welcome::before {
        background: #fff;
    }
    #modal__welcome .c-features {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    #modal__welcome .c-button--cta::before {
        content: 'Currently available on Desktop only :(';
        font-size: 12px;
    }
    #modal__welcome .c-button--cta {
        font-size: 0;
        padding: 0 18px;
        height: auto;
        line-height: 4;
        margin-top: 24px;
        border-radius: 50px;
    }
}